body {
  font-family: FiraSans;
  font-size: 25px;
  text-align: center;
}

pre.highlight.code {
  display: inline-block;
  text-align: left;
}

li {
  text-align: left;
  line-height: 200%;
}

h1, h2, h3 {
  font-family: FiraSansBold;
}

th, td {
  padding: 15px;
}

tr:nth-child(even) {
  background-color: #F2F2F2;
}

@font-face {
  font-family: FiraSans;
  src:
  url('./fonts/Fira-4.202/woff2/FiraSans-Regular.woff2') format('woff2');
}

@font-face {
  font-family: FiraSansBold;
  src:
  url('./fonts/Fira-4.202/woff2/FiraSans-Bold.woff2') format('woff2');
}
